<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>hive</title>
    <link rel="stylesheet" href="static/photon-0.1.2-dist/css/photon.css">
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>

    <div class="window">
      <div class="window-content">
        <div id="app"></div>
      </div>
    </div>

    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>
  </body>
</html>
